<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{key_question.id}}</title>
</head>
<body>
<h1>{{key_question.id}}: {{ key_question.question_text }}</h1>

{% if error_message %} <p><strong> {{ error_message}}</strong></p>{% endif %}

<form action="{%url 'polls:vote' key_question.id %}", method="post">
    {% csrf_token %}
    {% for choice in key_question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
        <label for="choice{{forloop.counter}}"> {{ choice.choice_text}} </label>
    <br>
    {% endfor %}
    <input type="submit" value="Vote">
</form>

<ul>
    <li>
        <a href="{% url 'polls:index' %}">
            <button>Back</button>
        </a>
        <a href="{% url 'polls:result' key_question.id%}">
            <button>View Results</button>
        </a>
    </li>
</ul>
</body>
</html>